<h1>Venues</h1>

<% @venues.each do |venue| %>
  <div>
    <%= venue.name %><br>
    <%= venue.address_line_1 %><br>
    <%= venue.city %>, <%= venue.state %> <%= venue.zip %><br>
    <%= link_to "#{venue.name}'s Official Website", venue.website %><br><br>
  </div>
<% end  %>
