<div class="center-white">
  <h1> Guest List </h1>
  <% @rsvps.each do |rsvp| %>
    <% if rsvp.concert_id == params[:id].to_i && rsvp.user_id != current_user.id %>
    <%= rsvp.user.name %><br>
    <%= image_tag rsvp.user.image %>
    <%= rsvp.comment %>
      <% if match_sender_id_current_user(rsvp).nil? &&
        match_receiver_id_current_user(rsvp).nil?  %>
        <%= button_to "Buddy up!", concert_matches_path(params[:id], rsvp.user_id), class: "tiny button" %>
      <% elsif match_sender_id_current_user(rsvp).try(:status) == 'declined'||
        match_receiver_id_current_user(rsvp).try(:status) == 'declined' %>
        <br><%= "Declined" %>
      <% elsif match_sender_id_current_user(rsvp).try(:status) == 'confirmed'||
        match_receiver_id_current_user(rsvp).try(:status) == 'confirmed' %>
        <br><%= "Successful Match!" %><br>
      <% else %>
        <br><%= "Request Pending..." %><br>
      <% end %>
    <% end %>
  <br>
<% end %>
