<div class="row">
  <div class="small-3 small-centered columns">
    <div class="transbox2">
<%= form_for @concert do |f|%>
  <div>
    <%= f.label :venue_id %>
    <%= f.select :venue_id, options_for_select(@venues) %>
  </div>

  <div>
    <%= f.label :date %><br>
    <%= f.text_field :date, class: "concert_date" %>
  </div>

  <div>
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <div>
    <%= f.label :artist_1 %>
    <%= f.text_field :artist_1 %>
  </div>

  <div>
    <%= f.label :artist_2 %> *optional
    <%= f.text_field :artist_2 %>
  </div>

  <div>
    <%= f.label :artist_3 %> *optional
    <%= f.text_field :artist_3 %>
  </div>

  <div>
    <%= f.label :artist_4 %> *optional
    <%= f.text_field :artist_4 %>
  </div>

  <div>
    <%= f.label :url, "Link to Event" %>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :price %> *optional
    <%= f.text_field :price %>
  </div>

  <div>
    <%= f.button "Submit"%>
  </div>

<% end %>
</div>
</div>
</div>
