<div class="row">
  <div class="small-3 small-centered columns">
    <div class="transbox2">
<%= form_for @concert do |f|%>
  <div>
    <%= f.label :venue_id %>
    <%= f.select :venue_id, options_for_select(@venues) %>
  </div>

  <div>
    <%= f.label :date %><br>
    <%= f.date_select :date, order: [:month, :day, :year] %>
  </div>

  <div>
    <%= f.label :time %>
    <%= f.select :time, options_for_select([["12pm", "12pm"], ["1pm", "1pm"],
    ["2pm", "2pm"], ["3pm", "3pm"], ["4pm", "4pm"], ["5pm", "5pm"],
    ["6pm", "6pm"], ["7pm", "7pm"], ["8pm", "8pm"], ["9pm", "9pm"],
    ["10pm", "10pm"], ["11pm", "11pm"], ["Midnight", "Midnight"]]) %>
  </div>

  <div>
    <%= f.label :artist_1 %>
    <%= f.text_field :artist_1 %>
  </div>

  <div>
    <%= f.label :artist_2 %> *optional
    <%= f.text_field :artist_2 %>
  </div>

  <div>
    <%= f.label :artist_3 %> *optional
    <%= f.text_field :artist_3 %>
  </div>

  <div>
    <%= f.label :artist_4 %> *optional
    <%= f.text_field :artist_4 %>
  </div>

  <div>
    <%= f.label :url, "Link to Event" %>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :price %> *optional
    <%= f.text_field :price %>
  </div>

  <div>
    <%= f.button "Submit"%>
  </div>

<% end %>
</div>
</div>
</div>
