<div class="row">
  <div class="large-6 columns large-offset-3">
    <div class="transbox2">
      <h1>
        Concerts
      </h1>
      <%= form_tag concerts_path, method: :get do %>
        <%= label_tag :query, "Search" %>
        <%= text_field_tag :query %>
        <%= submit_tag "Search Concerts", options = { class: "button small"} %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns large-offset-3">
    <div class="transbox">
      <% @concerts.each do |concert| %>
        <p><%= link_to concert.artist_1, concert_path(concert.id) %><br>
        <% if !concert.artist_2.nil? %>
          <%= link_to concert.artist_2, concert_path(concert.id) %><br>
        <% end %>

        <% if !concert.artist_3.nil? %>
          <%= link_to concert.artist_3, concert_path(concert.id) %><br>
        <% end %>

        <% if !concert.artist_4.nil? %>
          <%= link_to concert.artist_4, concert_path(concert.id) %><br>
        <% end %>
        <%= link_to concert.venue.name, venue_path(concert.venue) %><br>
        <%= concert.date %><br>
        Going: <%= concert.rsvps.count %><br><br>
        </p>
      <% end %>
      <%= paginate @concerts %>
    </div>
  </div>
</div>
