<div class="center">
  <h3><%= @concert.artist_1 %><br></h3>
  <% if !@concert.artist_2.nil? %>  <br>
    <h6>Featuring...<h6>
    <%= @concert.artist_2 %> <br>
  <% end %>
  <%= @concert.artist_3 %><% if !@concert.artist_3.nil? %>  <br> <% end %>
  <%= @concert.artist_4 %><% if !@concert.artist_4.nil? %>  <br> <% end %>
    <h6>
      @ <%= link_to @concert.venue.name, venue_path(@concert.venue) %>
      <br><%= @concert.date %><br>
      <%= @concert.time %><br><br>
    <h6>
<% if @rsvp.empty? %>
  <%= form_for [@concert, @new_rsvp] do |f| %>
    <div>
      <%= f.label :comment, "Add a message to be seen by potential buddies:" %>
      <%= f.text_field :comment, autofocus: true %>
    </div>
    <div>
      <%= f.button "I want to go!"%>
    </div>
  <% end %>
<% else %>
  <%= "You are currently signed up to go!" %>
</div>

<%= render 'guest_list' %>

</div>
<% end %>
